# Ignore compiled object files
*.o
*.out

# Ignore log files
*.log

# Ignore IDE-specific files
.idea/
.vscode/
package-lock.json

# Ignore compiled binaries
bin/

# Ignore dependency directories
node_modules/
vendor/

# Ignore local configuration files
.env

# Ignore macOS directory attributes
.DS_Store

# Ignore build directory
build/


logs
*.zip
test.js
t1.js
post_data.txt
*.html
*.bat
*.sh
*.py
# config/secrets.json # If repository is public
